@model ASM.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Practice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Practice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusMark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusMark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMark">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
